*{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-family: "Microsoft YaHei";
}
a{
	text-decoration: none;
}
/*================顶部导航栏=========================================*/
header{
	height: 60px;
	width: 100%;
	background-color: #90ee90;
	position: fixed;
	z-index: 1;
}
nav{
	width: 1035px;
	height: 60px;
	margin: 0 auto;
}
nav img{
	float: left;
}
nav ul{
	height: 60px;
	float: right;
}
nav ul li{
	height: 60px;
	float: left;
	line-height: 60px;
	padding: 0 25px;
}
nav ul li a{
	color: rgb(85,26,139);
}
nav ul li:hover{
	background: #fea005;
}
/*=============右侧小圆点======================================*/
.rightDot{
	height: 142px;
	width: 28px;
	position: fixed;
	right: 0;
	top: 43%;
	z-index: 1;
}
.rightDot ul li{
	width: 28px;
	height: 21px;
}
.rightDot ul li a{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: gray;
	margin: 3px 8px;
}
/*===============第一页========================================*/
.first{
	width: 100%;
	height: 900px;
	position: relative;
	top: 0px;
	background: url(images/b1_bg.jpg);
}
.first .firstContent{
	width: 1310px;
	height: 900px;
	margin: 0 auto;
	position: relative;
}
.first .firstContent img:nth-child(1){
	position: absolute;
	bottom: 0px;
	left: -190px;
}
.first .firstContent img:nth-child(2){
	position: absolute;
	bottom: 80px;
	left: -10px;
	animation:twoChild 1s linear 0s 1;
}
@-webkit-keyframes twoChild{
	from{
		left: -50px;
		opacity: 0;
	}
	to{
		left: -10px;
		opacity: 1;
	}
}
.first .firstContent .firstRight{
	width: 400px;
	height: 280px;
	position: absolute;
	left: 700px;
	top: 316px;
}
.first .firstContent .firstRight img:nth-child(1){
	position: absolute;
	top: 0;
	left: 0;
}
.first .firstContent .firstRight img:nth-child(2){
	position: absolute;
	top: 176px;
	left: 8px;
	animation:startBtn 2s linear 0s infinite;
	transition:all 2s ease 0s;
}
@-webkit-keyframes startBtn{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}
.first .firstContent .firstRight img:nth-child(3){
	position: absolute;
	bottom: 30px;
	right: 0px;
	animation:b104 1s linear 0s 1;
}
@-webkit-keyframes b104{
	from{
		bottom: -330px;
	}
	two{
		bottom: 30px;
	}
}
/*=====================第二页====================================*/
.second{
	width: 100%;
	height: 900px;
	background: url(images/b2_bg.jpg);
}
.second .secondContent{
	width: 1310px;
	height: 900px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.second .secondContent img:nth-child(1){
	position: absolute;
	left: -215px;
	bottom: -40px;
	animation:b201 2s linear 0s 1;
}
@-webkit-keyframes b201{
	from{
		bottom: -400px;
	}
	to{
		bottom: -40px;
	}
}
.second .secondContent img:nth-child(2){
	position: absolute;
	left: 305px;
	top: 300px;
	animation:b203 2s linear 0s 1;
}
@-webkit-keyframes b203{
	from{
		top: -50px;
	}
	to{
		top: 300px;
	}
}
.second .secondContent img:nth-child(3){
	position: absolute;
	left: 795px;
	top: 400px;
	z-index: 1;
	animation:b204 2s linear 0s 1;
}
@-webkit-keyframes b204{
	from{
		top: -50px;
	}
	to{
		top: 400px;
	}
}
.second .secondContent img:nth-child(4){
	position: absolute;
	right: 30px;
	top: 400px;
	animation:b206 2s linear 0s 1;
}
@-webkit-keyframes b206{
	from{
		top: -50px;
	}
	to{
		top: 400px;
	}
}
.second .secondContent .wenzi{
	width: 310px;
	height: 215px;
	color: #fff;
	position: absolute;
	bottom:323px;
	left:635px; 
}
.second .secondContent .wenzi p{
	display: inline-block;
	font-size: 27.2px;
}
.second .secondContent .wenzi ul{
	width: 310px;
	height: 117px;
	font-size: 12.8px;
	margin-top: 30px;
}
/*=========================第三页=======================================*/
.three{
	width: 100%;
	height: 950px;
	background: url(images/b3_bg.jpg);
}
.three .threeContent{
	width: 970px;
	height: 950px;
	margin: 0 395px auto;
	position: relative;
}
.three .threeContent p{
	font-size: 28.8px;
	color: #666666;
	font-weight: bold;
}
.three .threeContent p:nth-child(1){
	display: inline-block;
	position: absolute;
	top: 200px;
	left: 340px;
}
.three .threeContent p:nth-child(2){
	display: inline-block;
	position: absolute;
	top: 200px;
	left: 397px;
	color: #fea005;
}
.three .threeContent p:nth-child(3){
	display: inline-block;
	position: absolute;
	top: 200px;
	left: 522px;
}
.three .threeContent p:nth-child(4){
	display: inline-block;
	position: absolute;
	top: 270px;
	left: 370px;
	font-size: 14.4px;
	color: #bcbcbf;
}
.three .threeContent hr{
	display: inline-block;
	position: absolute;
	top: 302px;
	left: 0;
	width: 100%;
	height: 0.5px;
}
.three .threeContent .methed{
	width: 100%;
	height: 650px;
	position: relative;
	top: 300px;
}
.three .threeContent .methed img{
	position: absolute;
	top: 50px;
	left: 350px;
	animation:xuanzhuan 4s linear 0s 1 alternate forwards;
}
@-webkit-keyframes xuanzhuan{
    0%{
    	transform:rotateZ(720deg) translateX(0) translateY(0);
    }
    50%{
    	transform:rotateZ(0deg) translateX(300px) translateY(300px);
    }
    100%{
    	transform:rotateZ(720deg) translateX(0px) translateY(0px);
    }
}
.three .threeContent .methed ul li:nth-child(1){
	width: 285px;
	height: 90px;
	position: absolute;
	top: 60px;
	left: 114px;
	text-align: right;
	animation:erweima 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes erweima{
	from{
		left: -300px;
	}
	to{
		left: 114px;
	}
}
.three .threeContent .methed ul li span:nth-child(1){
	display: inline-block;
	font-size: 16.8px;
	color: #fea005;
	font-weight: normal;
}
.three .threeContent .methed ul li span{
	display: inline-block;
	font-size: 12px;
	margin-bottom: 4px;
}
.three .threeContent .methed ul li:nth-child(2){
	width: 285px;
	height: 90px;
	position: absolute;
	top: 204px;
	left: 53px;
	text-align: right;
	animation:hudong 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes hudong{
	from{
		left: -300px;
	}
	to{
		left: 53px;
	}
}
.three .threeContent .methed ul li:nth-child(3){
	width: 285px;
	height: 90px;
	position: absolute;
	top: 355px;
	left: 113px;
	text-align: right;
	animation:huiyuan 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes huiyuan{
	from{
		left: -300px;
	}
	to{
		left: 113px;
	}
}
.three .threeContent .methed ul li:nth-child(4){
	width: 285px;
	height: 90px;
	position: absolute;
	top: 60px;
	right: 3px;
	text-align: left;
	animation:jiaoyi 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes jiaoyi{
	from{
		right: -500px;
	}
	to{
		right: 3px;
	}
}
.three .threeContent .methed ul li:nth-child(5){
	width: 230px;
	height: 90px;
	position: absolute;
	top: 204px;
	right: 9px;
	text-align: left;
	animation:yijian 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes yijian{
	from{
		right: -500px;
	}
	to{
		right: 9px;
	}
}
.three .threeContent .methed ul li:nth-child(6){
	width: 250px;
	height: 90px;
	position: absolute;
	top: 355px;
	right: 40px;
	text-align: left;
	animation:daohang 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes daohang{
	from{
		right: -500px;
	}
	to{
		right: 40px;
	}
}
/*=========================第四页=================================*/
.fore{
    width: 100%;
	height: 900px;
	background: url(images/b4_bg.jpg);
}
.fore .foreContent{
	width: 1310px;
	height: 900px;
	margin: 0 auto;
	position: relative;
	color: #fff;
}
.fore .foreContent .fwys{
    font-size: 32px;
    position: absolute;
    left: 200px;
    top: 200px;
    width: 200px;
    animation:fwysdh 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes fwysdh{
    0%{
       top: 900px;
    }
    40%{
    	top: 200px;
    }
    100%{
    	top: 200px;
    }
}
.fore .foreContent div h5{
	font-size: 16.64px;
	margin-bottom: 5px;
}
.fore .foreContent div p{
	font-size: 12.8px;
}
.fore .foreContent div:nth-child(1){
	position: absolute;
	left: 200px;
	top: 300px;
	animation:fwys01 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes fwys01{
    0%{
       top: 900px;
    }
    10%{
    	top: 900px;
    }
    50%{
    	top: 300px;
    }
    100%{
    	top: 300px;
    }
}
.fore .foreContent div:nth-child(2){
	position: absolute;
	left: 200px;
	top: 360px;
	animation:fwys02 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes fwys02{
    0%{
       top: 900px;
    }
    20%{
    	top: 900px;
    }
    60%{
    	top: 360px;
    }
    100%{
    	top: 360px;
    }
}
.fore .foreContent div:nth-child(3){
	position: absolute;
	left: 200px;
	top: 420px;
	animation:fwys03 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes fwys03{
    0%{
       top: 900px;
    }
    30%{
    	top: 900px;
    }
    70%{
    	top: 420px;
    }
    100%{
    	top: 420px;
    }
}
.fore .foreContent div:nth-child(4){
	position: absolute;
	left: 200px;
	top: 480px;
	animation:fwys04 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes fwys04{
    0%{
       top: 900px;
    }
    40%{
    	top: 900px;
    }
    80%{
    	top: 480px;
    }
    100%{
    	top: 480px;
    }
}
.fore .foreContent div:nth-child(5){
	position: absolute;
	left: 200px;
	top: 540px;
	animation:fwys05 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes fwys05{
    0%{
       top: 900px;
    }
    50%{
    	top: 900px;
    }
    90%{
    	top: 540px;
    }
    100%{
    	top: 540px;
    }
}
.fore .foreContent div:nth-child(6){
	position: absolute;
	left: 200px;
	top: 600px;
	animation:fwys06 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes fwys06{
    0%{
       top: 900px;
    }
    60%{
    	top: 900px;
    }
    100%{
    	top: 600px;
    }
}
.fore .foreContent .img01{
	position: absolute;
	left: 650px;
	top: 200px;
	animation:b401 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes b401{
	from{
		left: 900px;
		opacity: 0;
	}
	to{
		left: 650px;
		opacity: 1;
	}
}
.fore .foreContent .img02{
	position: absolute;
	left: 900px;
	top: 200px;
	animation:b402 2s linear 0s 1 alternate forwards;
}
@-webkit-keyframes b402{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
/*=============================第五页=================================*/
.five{
	width: 100%;
	height: 900px;
	background: url(images/b5_bg.jpg);
}
.five .fiveContent{
	width: 1310px;
	height: 900px;
	margin: 0 auto;
	position: relative;
}
.five .fiveContent .fiveTitle{
    position: absolute;
    top: 163px;
    left: 527px;
    color: #666666;
    font-size: 32px;
}
.five .fiveContent .sorts{
	width: 972px;
	height: 52px;
	border-bottom: 1px solid red;
	position: absolute;
	top: 200px;
	left: 220px;
	line-height: 52px;
	text-align: center;
	color: #bcbcbc;
}
.five .fiveContent .uls{
	width: 870px;
	position: absolute;
	left: 50%;
	top: 250px;
	margin-left: -435px;
	padding:0 50px;
}
.five .fiveContent .uls li{
	width: 185px;
	height: 150px;
	margin: 10px 15px;
	border: 1px solid green;
	float: left;
	border-radius: 5px;
	text-align: center;
	font-size: 12.8px;
	color: #777777; 
	position: relative;
	top: 0;
	bottom: 0;

}
.five .fiveContent .uls li:nth-child(1){
	animation:top 2s linear 0s 1;
}
.five .fiveContent .uls li:nth-child(1) div{
	background: url(images/gnico_01.png) no-repeat center;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}
.five .fiveContent .uls li:nth-child(1) div:hover{
	background: url(images/gnico_01_1.png) no-repeat center;
}
.five .fiveContent .uls li .p01{
	color: black;
	font-size: 19.2px;
}
.five .fiveContent .uls li:nth-child(2){
	animation:top 2s linear 0s 1;
}
.five .fiveContent .uls li:nth-child(2) div{
	background: url(images/gnico_02.png) no-repeat center;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}
.five .fiveContent .uls li:nth-child(2) div:hover{
	background: url(images/gnico_02_1.png) no-repeat center;
}
.five .fiveContent .uls li:nth-child(3){
	animation:top 2s linear 0s 1;
}
.five .fiveContent .uls li:nth-child(3) div{
	background: url(images/gnico_03.png) no-repeat center;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}
.five .fiveContent .uls li:nth-child(3) div:hover{
	background: url(images/gnico_03_1.png) no-repeat center;
}
.five .fiveContent .uls li:nth-child(4){
	animation:top 2s linear 0s 1;
}
.five .fiveContent .uls li:nth-child(4) div{
	background: url(images/gnico_04.png) no-repeat center;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}
.five .fiveContent .uls li:nth-child(4) div:hover{
	background: url(images/gnico_04_1.png) no-repeat center;
}
@-webkit-keyframes top{
	from{
       top: 173px;
	}
	to{
		top:0px;
	}
}
.five .fiveContent .uls li:nth-child(5){
	animation: middle 2s linear 0s 1;
}
.five .fiveContent .uls li:nth-child(5) div{
	background: url(images/gnico_05.png) no-repeat center;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}
.five .fiveContent .uls li:nth-child(5) div:hover{
	background: url(images/gnico_05_1.png) no-repeat center;
}
.five .fiveContent .uls li:nth-child(6){
	animation: middle 2s linear 0s 1;
}
.five .fiveContent .uls li:nth-child(6) div{
	background: url(images/gnico_06.png) no-repeat center;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}
.five .fiveContent .uls li:nth-child(6) div:hover{
	background: url(images/gnico_06_1.png) no-repeat center;
}
.five .fiveContent .uls li:nth-child(7){
	animation: middle 2s linear 0s 1;
}
.five .fiveContent .uls li:nth-child(7) div{
	background: url(images/gnico_07.png) no-repeat center;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}
.five .fiveContent .uls li:nth-child(7) div:hover{
	background: url(images/gnico_07_1.png) no-repeat center;
}
.five .fiveContent .uls li:nth-child(8){
	animation: middle 2s linear 0s 1;
}
.five .fiveContent .uls li:nth-child(8) div{
	background: url(images/gnico_08.png) no-repeat center;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}
.five .fiveContent .uls li:nth-child(8) div:hover{
	background: url(images/gnico_08_1.png) no-repeat center;
}
@-webkit-keyframes middle{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.five .fiveContent .uls li:nth-child(9){
	animation: bottom 2s linear 0s 1;
}
.five .fiveContent .uls li:nth-child(9) div{
	background: url(images/gnico_09.png) no-repeat center;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}
.five .fiveContent .uls li:nth-child(9) div:hover{
	background: url(images/gnico_09_1.png) no-repeat center;
}
.five .fiveContent .uls li:nth-child(10){
	animation: bottom 2s linear 0s 1;
}
.five .fiveContent .uls li:nth-child(10) div{
	background: url(images/gnico_10.png) no-repeat center;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}
.five .fiveContent .uls li:nth-child(10) div:hover{
	background: url(images/gnico_10_1.png) no-repeat center;
}
.five .fiveContent .uls li:nth-child(11){
	animation: bottom 2s linear 0s 1;
}
.five .fiveContent .uls li:nth-child(11) div{
	background: url(images/gnico_11.png) no-repeat center;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}
.five .fiveContent .uls li:nth-child(11) div:hover{
	background: url(images/gnico_11_1.png) no-repeat center;
}
.five .fiveContent .uls li:nth-child(12){
	animation: bottom 2s linear 0s 1;
}
.five .fiveContent .uls li:nth-child(12) div{
	background: url(images/gnico_12.png) no-repeat center;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}
.five .fiveContent .uls li:nth-child(12) div:hover{
	background: url(images/gnico_12_1.png) no-repeat center;
}
@-webkit-keyframes bottom{
	from{
		top: -173px;
	}
	to{
		top: 0px; 
	}
}
/*==============================第六页====================================*/
.six{
	width: 100%;
	height: 900px;
	background: url(images/b6_bg.jpg);
}
.six .sixContent{
	width: 1310px;
	height: 900px;
	margin: 0 auto;
	border:1px solid red;
	position: relative;
}
.six .sixContent .sixTitle{
    width: 200px;
    position: absolute;
    left: 250px;
    top: 200px;
    color: #fff;
}
.six .sixContent .sixTitle p:nth-child(1){
	width: 200px;
	height: 42px;
	display: inline-block;
    font-size: 32px;
    margin-bottom: 10px;
}
.six .sixContent .midPhoto{
	width: 533px;
	height: 423px;
	position: absolute;
	left: 50%;
	top: 300px;
	margin-left: -266px;
	background: url(images/b6_img.png);
}
